* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    height: 38px;
    width: 45px;
}

/* alter the main code */

.nevi-text {
    margin-left: 5px;
}

/* main search box */

.searchBox-main-container {
    display: flex;
}

/* search box first container */
.search-Box-first-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.searchfiled {
    width: 200px;
}

/* ------------------------------------------------------------ */

.title-name-type1 {
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    border-left: 5px solid dodgerblue;
}

.title-name-type2 {
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    border-left: 5px solid green;
}

.title-name-type3 {
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    border-left: 5px solid orange;
}

.title-name-type4 {
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    border-left: 5px solid violet;
}

.title-name-type5 {
    height: 30px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    border-left: 5px solid hotpink;
}

.title-name-type1:hover,
.title-name-type2:hover,
.title-name-type3:hover,
.title-name-type4:hover,
.title-name-type5:hover {
    box-shadow: 0.2px 0.2px 0px 0px gray;
    cursor: pointer;
}

span {
    margin-left: 5px;
}

.search-Box-card {
    margin-top: 10px;
    margin-left: 10px;
    height: min-content;
    width: 380px;
    overflow-x: auto;

}

.allcatagories {
    border-right: 1px solid gray;
}

.caragories-optons,
.urls-options,
.Numerical-options,
.dates-options,
.booleans-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.title-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* ------------------------------------------------------------ */



/* search box second container*/
.search-Box-second-container {
    display: flex;
    flex-direction: column;
}

.search-Box-details-information {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* title for second search box container */

.search-Box-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.search-Box-head-title {
    text-align: center;
}

/* card details */

.search-Box-card {
    height: min-content;
    width: 280px;
}